langchain
langchain_community
langchain-google-genai
langchain-pinecone
pinecone-client
beautifulsoup4
black
tiktoken
faiss-cpu
unstructured
nltk
fastapi
jinja2
uvicorn
streamlit
streamlit-chat
tqdm
pypdf